/*DiscoverScene.css*/
/* phone screen */
@media (min-width: 320px) {
    .title {
        height: 13em;
        padding-top: 3em;
        margin-bottom: 0.1em;
    }
    .title em {
        font-size: 1em;
        align-items: center;
    }
}

/* desktop screen */
@media only screen and (min-width: 768px) {
    .title {
        height: 30em;
        margin-bottom: 5em;
    }
    .title em {
        padding-bottom: 1.6em;
        font-size: 2.5em;
        align-items: flex-end;
    }
}
.title_img {
    height: 100%;
    width: 100%;
}

.title em {
    font-family: "Droid Serif", "Times New Roman", serif;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}
