.img {
    width: 100%;
}

/* phone screen */
@media (min-width: 320px) {
    .navbar-header {
        padding-left: 1em;
    }
    .navbar-toggle {
        margin-right: 3em;
        background-color: #f9690e;
    }
    .navbar-collapse li {
        padding-left: 1em;
    }
    .jumbotron {
        padding-top: 6em;
        margin-bottom: 0px;
    }
    .cat_box {
        height: 10em;
    }
    .cat_box span {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title1 {
        font-family: "Droid Serif", "Times New Roman", serif;
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 2em;
        font-size: 1.5em !important;
    }
    .cat_col {
        padding-left: 0em;
        padding-right: 0em;
    }

    .btnHowToBuy {
        width: 100%;
    }
    .navbar-right a {
        margin-right: 2em !important;
    }
}

/* desktop screen */
@media only screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 7em;
    }
    .cat_container {
        display: "flex";
        justify-content: "space-between";
    }
    .cat_box {
        height: 6em;
        border-radius: 5px;
    }
    .cat_box span {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .title1 {
        font-family: "Droid Serif", "Times New Roman", serif;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 2.5em;
        font-size: 1.8em !important;
    }
    .cat_col {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.cat_box span:hover {
    background-color: #f9690e;
    color: black;
}

.cat_box a {
    text-decoration: none;
}

.cat_local {
    background: black url(../../img/cat_local.jpg) center center no-repeat;
    background-size: cover;
}

.cat_hype {
    background: black url(../../img/cat_hype.jpg) center center no-repeat;
    background-size: cover;
}

.cat_sport {
    background: black url(../../img/cat_sport.jpg) center center no-repeat;
    background-size: cover;
}

.cat_techwear {
    background: black url(../../img/cat_techwear.jpg) center center no-repeat;
    background-size: cover;
}

.cat_mini {
    background: black url(../../img/cat_mini.jpg) center center no-repeat;
    background-size: cover;
}

.cat_korean {
    background: black url(../../img/cat_korean.png) center center no-repeat;
    background-size: cover;
}
.cat_accessories {
    background: black url(../../img/cat_accessories.jpg) center center no-repeat;
    background-size: cover;
}

.title2 {
    font-family: "Droid Serif", "Times New Roman", serif;
    text-align: center;
    padding: 4em 1.6em 2.5em 1.6em;
    font-size: 1.5em !important;
}

.brand_title {
    font-family: "Droid Serif", "Times New Roman", serif;
}

.navbar-brand {
    font-size: 1.5em;
}
